@charset "UTF-8";
/* $weigth: ('light': 300, 'regular': 400, 'semi-bold': 600, 'bold': 800);
 $size: ('sm': 10px, 'md': 20px, 'lg': 30px, 'xlg': 45px);
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.type-light {
  font-size: 0.5rem;
  font-weight: 300; }

.type-regular {
  font-size: 1rem;
  font-weight: 400; }

.type-semi-bold {
  font-size: 1.5rem;
  font-weight: 600; }

.type-bold {
  font-size: 2rem;
  font-weight: 800; }

.button {
  display: flex;
  padding: auto;
  margin: auto;
  width: auto;
  height: auto;
  border-radius: 4px;
  margin-top: 9px;
  border: none;
  background-color: #fca311;
  text-transform: uppercase; }
  .button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .button a {
    text-decoration: none; }

.buttonBanner {
  width: auto;
  height: auto;
  border-radius: 4px;
  margin-top: 9px;
  border: none;
  background-color: #fca311;
  text-transform: uppercase;
  margin: 10px 300px 100px 400px;
  height: 80px;
  width: 160px; }
  .buttonBanner:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .buttonBanner a {
    text-decoration: none; }

.bgColorBlack {
  background-color: #000000; }

.colorBlack {
  color: #000000; }

.bgColorWhite {
  background-color: #fff; }

.colorWhite {
  color: #fff; }

.bgColorGray {
  background-color: #333533; }

.colorGray {
  color: #333533; }

.bgColorGrayLight {
  background-color: #e5e5e5; }

.colorGrayLigth {
  color: #e5e5e5; }

.bgColorYellow {
  background-color: #fca311; }

.colorYellow {
  color: #fca311; }

.bgColorColorViolet {
  background-color: #5a189a; }

.colorViolet {
  color: #5a189a; }

.miCol-1 {
  width: 8.33333%; }

.miCol-2 {
  width: 16.66667%; }

.miCol-3 {
  width: 25%; }

.miCol-4 {
  width: 33.33333%; }

.miCol-5 {
  width: 41.66667%; }

.miCol-6 {
  width: 50%; }

.miCol-7 {
  width: 58.33333%; }

.miCol-8 {
  width: 66.66667%; }

.miCol-9 {
  width: 75%; }

.miCol-10 {
  width: 83.33333%; }

.miCol-11 {
  width: 91.66667%; }

.miCol-12 {
  width: 100%; }

.miCol-13 {
  width: 108.33333%; }

/*¿Como hago para pisar mi altura de mi Carousel?
¿Como piso el color de texto o mi bg color del dropdown?
*/
body {
  background-color: #d6d6d6;
  font-family: "Open Sans", sans-serif; }
  body span {
    font-weight: 800; }
  body hr {
    margin: 4rem auto 4rem auto;
    border-top: 1.5px solid black; }

#header .navbar {
  /*MOBILE FIRST*/ }
  @media all and (max-width: 768px) {
    #header .navbar {
      background-color: #000000; }
      #header .navbar .navbar-nav .nav-link {
        padding-left: 1rem;
        background-color: #333533; }
      #header .navbar .navbar-nav a {
        color: #fff; }
        #header .navbar .navbar-nav a:hover {
          color: #fca311; } }
  #header .navbar .navbar-nav .nav-link {
    padding-left: 1rem; }
  #header .navbar a {
    color: #fff; }
    #header .navbar a:hover {
      color: #fca311; }

#header .contentBanner {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: 400px;
  width: auto;
  background-image: url(../media/bannerW.png);
  background-repeat: no-repeat; }
  #header .contentBanner .banner {
    display: flex;
    margin: 10px auto auto 160px; }
    #header .contentBanner .banner a {
      text-decoration: none;
      color: #000000; }

.body {
  height: auto; }
  .body h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-bottom: 3rem; }
  .body .alto {
    height: auto; }
    .body .alto img {
      height: 600px; }
  .body .informacion {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center; }
    .body .informacion .cardInicioUno p {
      text-align: start;
      padding-top: 10%; }
    .body .informacion .cardInicioDos a {
      color: #000000;
      text-decoration: none; }
    .body .informacion .card-text {
      height: 100px; }
    .body .informacion .informacionUno {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-end;
      align-items: flex-end; }
      .body .informacion .informacionUno .textInfo {
        font-size: 1rem; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  footer .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center; }
    footer .newsletter .newsletterBoton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap; }
      footer .newsletter .newsletterBoton .new {
        width: 100%;
        height: auto;
        border-radius: 4px;
        border: none;
        background-color: #DBDBDB; }
      footer .newsletter .newsletterBoton button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 70%; }
  footer .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
    footer .nav li {
      color: #fff;
      list-style: none;
      text-decoration: none; }
    footer .nav a {
      color: #fff;
      text-decoration: none; }
      footer .nav a:hover {
        color: #fca311;
        text-decoration: none; }

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start; }
  .content h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(to top, #139c4c, #fca311, #aa1a1a); }
  .content .galleryOne {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .content .galleryOne .products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem; }
      .content .galleryOne .products img {
        height: auto;
        width: auto;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        transition: width 10ms height 10ms;
        box-shadow: 5px 5px 5px #777777;
        border-radius: 10px; }
        .content .galleryOne .products img:hover {
          width: 325px;
          height: 325px; }

.menuCompra h3 {
  text-align: center;
  margin-top: 2rem; }

.menuCompra .seccioneOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem; }
  .menuCompra .seccioneOne .comprar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start; }
    .menuCompra .seccioneOne .comprar .formCompra {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around; }
