@charset "UTF-8";
/* $weigth: ('light': 300, 'regular': 400, 'semi-bold': 600, 'bold': 800);
 $size: ('sm': 10px, 'md': 20px, 'lg': 30px, 'xlg': 45px);
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.type-light {
  font-size: 0.5rem;
  font-weight: 300; }

.type-regular {
  font-size: 1rem;
  font-weight: 400; }

.type-semi-bold {
  font-size: 1.5rem;
  font-weight: 600; }

.type-bold {
  font-size: 2rem;
  font-weight: 800; }

.bgColorBlack {
  background-color: #000000; }

.colorBlack {
  color: #000000; }

.bgColorWhite {
  background-color: #fff; }

.colorWhite {
  color: #fff; }

.bgColorGray {
  background-color: #333533; }

.colorGray {
  color: #333533; }

.bgColorGrayLight {
  background-color: #e5e5e5; }

.colorGrayLigth {
  color: #e5e5e5; }

.bgColorYellow {
  background-color: #fca311; }

.colorYellow {
  color: #fca311; }

.bgColorColorViolet {
  background-color: #5a189a; }

.colorViolet {
  color: #5a189a; }

.miCol-1 {
  width: 8.33333%; }

.miCol-2 {
  width: 16.66667%; }

.miCol-3 {
  width: 25%; }

.miCol-4 {
  width: 33.33333%; }

.miCol-5 {
  width: 41.66667%; }

.miCol-6 {
  width: 50%; }

.miCol-7 {
  width: 58.33333%; }

.miCol-8 {
  width: 66.66667%; }

.miCol-9 {
  width: 75%; }

.miCol-10 {
  width: 83.33333%; }

.miCol-11 {
  width: 91.66667%; }

.miCol-12 {
  width: 100%; }

.miCol-13 {
  width: 108.33333%; }

/*¿Como hago para pisar mi altura de mi Carousel?
¿Como piso el color de texto o mi bg color del dropdown?
*/
body {
  background-color: #d6d6d6;
  font-family: "Open Sans", sans-serif; }

#header .navbar {
  /*MOBILE FIRST*/ }
  @media all and (max-width: 768px) {
    #header .navbar {
      background-color: #000000; }
      #header .navbar .navbar-nav .nav-link {
        padding-left: 1rem;
        background-color: #333533; }
      #header .navbar .navbar-nav a {
        color: #fff; }
        #header .navbar .navbar-nav a:hover {
          color: #fca311; } }
  #header .navbar .navbar-nav .nav-link {
    padding-left: 1rem; }
  #header .navbar a {
    color: #fff; }
    #header .navbar a:hover {
      color: #fca311; }

#header .contentBanner {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: 700px;
  width: 700px;
  background-image: url(../media/banner.png);
  background-repeat: no-repeat; }
  #header .contentBanner .banner {
    display: flex;
    margin: auto auto 375px auto; }

.body {
  height: auto; }
  .body h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-bottom: 3rem; }
  .body .alto {
    height: auto; }
    .body .alto img {
      height: 600px; }
  .body .informacion {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center; }
    .body .informacion .informacionUno {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-end;
      align-items: flex-end; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .footer .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center; }
    .footer .newsletter .newsletterBoton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap; }
      .footer .newsletter .newsletterBoton button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem; }
  .footer .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
    .footer .nav li {
      color: #fff;
      list-style: none;
      text-decoration: none; }
    .footer .nav a {
      color: #fff;
      text-decoration: none; }
      .footer .nav a:hover {
        color: #fca311;
        text-decoration: none; }
    .footer .nav .newsletterBoton {
      display: flex;
      flex-direction: column; }
