/* $weigth: ('light': 300, 'regular': 400, 'semi-bold': 600, 'bold': 800);
 $size: ('sm': 10px, 'md': 20px, 'lg': 30px, 'xlg': 45px);
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.bgColorBlack {
  background-color: #000000; }

.colorBlack {
  color: #000000; }

.bgColorWhite {
  background-color: #fff; }

.colorWhite {
  color: #fff; }

.bgColorGray {
  background-color: #333533; }

.colorGray {
  color: #333533; }

.bgColorGrayLight {
  background-color: #e5e5e5; }

.colorGrayLigth {
  color: #e5e5e5; }

.bgColorYellow {
  background-color: #fca311; }

.colorYellow {
  color: #fca311; }

.bgColorColorViolet {
  background-color: #5a189a; }

.colorViolet {
  color: #5a189a; }

.miCol-1 {
  width: 8.33333%; }

.miCol-2 {
  width: 16.66667%; }

.miCol-3 {
  width: 25%; }

.miCol-4 {
  width: 33.33333%; }

.miCol-5 {
  width: 41.66667%; }

.miCol-6 {
  width: 50%; }

.miCol-7 {
  width: 58.33333%; }

.miCol-8 {
  width: 66.66667%; }

.miCol-9 {
  width: 75%; }

.miCol-10 {
  width: 83.33333%; }

.miCol-11 {
  width: 91.66667%; }

.miCol-12 {
  width: 100%; }

.miCol-13 {
  width: 108.33333%; }

.type-light {
  font-size: 0.5rem;
  font-weight: 300; }

.type-regular {
  font-size: 1rem;
  font-weight: 400; }

.type-semi-bold {
  font-size: 1.5rem;
  font-weight: 600; }

.type-bold {
  font-size: 2rem;
  font-weight: 800; }

.button {
  margin-top: 2rem;
  width: auto;
  height: auto;
  border: none;
  background-color: #fca311;
  border-radius: 5%;
  text-transform: uppercase; }
  .button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .button a {
    text-decoration: none; }

.buttonForm {
  width: auto;
  height: auto;
  border: none;
  background-color: #fca311;
  border-radius: 5%;
  text-transform: uppercase;
  background: linear-gradient(to left, #000000, #333533);
  color: #fff; }
  .buttonForm:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .buttonForm a {
    text-decoration: none; }

.buttonNew {
  width: auto;
  height: auto;
  border: none;
  background-color: #fca311;
  border-radius: 5%;
  text-transform: uppercase;
  margin-top: 1rem; }
  .buttonNew:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .buttonNew a {
    text-decoration: none; }

body {
  background-color: #d6d6d6;
  font-family: "Open Sans", sans-serif; }
  body span {
    font-weight: 800; }
  body hr {
    margin: 4rem auto 4rem auto;
    border-top: 1.5px solid black; }

@media all and (max-width: 480px) {
  #header .navbar {
    background-color: #000000; }
    #header .navbar .navbar-nav .nav-link {
      padding-left: 1rem;
      background-color: #333533; }
    #header .navbar .navbar-nav a {
      color: #fff; }
      #header .navbar .navbar-nav a:hover {
        color: #fca311; } }

@media all and (max-width: 1024px) {
  #header .navbar {
    background-color: #000000; }
    #header .navbar .navbar-nav .nav-link {
      padding-left: 1rem; }
    #header .navbar .navbar-nav a {
      color: #fff; }
      #header .navbar .navbar-nav a:hover {
        color: #fca311; } }

#header .navbar .navbar-nav .nav-link {
  padding-left: 1rem; }

#header .navbar a {
  color: #fff; }
  #header .navbar a:hover {
    color: #fca311; }

.contentBanner {
  background-image: url(../media/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  justify-self: center;
  align-self: center;
  height: 500px;
  width: 100%; }
  @media all and (max-width: 480px) {
    .contentBanner {
      background-image: url(../media/banner3.png);
      background-position: center;
      background-repeat: no-repeat;
      justify-self: center;
      align-self: center;
      height: auto;
      width: 100%; } }
  @media all and (max-width: 1024px) {
    .contentBanner {
      background-image: url(../media/banner2.png);
      background-position: center;
      background-repeat: no-repeat;
      justify-self: center;
      align-self: center;
      height: 500px;
      width: 100%; } }
  .contentBanner .banner {
    padding-top: 10%;
    padding-bottom: auto;
    color: #fff;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%; }
    .contentBanner .banner p {
      font-size: 30px;
      text-align: center; }

.body {
  height: auto; }
  .body h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-bottom: 3rem; }
  .body .alto {
    height: auto; }
    .body .alto img {
      height: 600px; }
  .body .informacion {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center; }
    .body .informacion .cardInicioUno p {
      text-align: start;
      padding-top: 10%; }
    .body .informacion .cardInicioDos a {
      color: #000000;
      text-decoration: none; }
    .body .informacion .card-text {
      height: 100px; }
    .body .informacion .informacionUno {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-end;
      align-items: flex-end; }
      .body .informacion .informacionUno .textInfo {
        font-size: 1rem; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  footer .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center; }
    footer .newsletter .newsletterBoton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap; }
      footer .newsletter .newsletterBoton .new {
        width: 100%;
        height: auto;
        border-radius: 4px;
        border: none;
        background-color: #DBDBDB; }
      footer .newsletter .newsletterBoton button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 70%; }
  footer .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
    footer .nav li {
      color: #fff;
      list-style: none;
      text-decoration: none; }
    footer .nav a {
      color: #fff;
      text-decoration: none; }
      footer .nav a:hover {
        color: #fca311;
        text-decoration: none; }

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start; }
  .content h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(to top, #fca311, #e99700); }
  .content .gallery {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around; }
    .content .gallery .products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
      .content .gallery .products a {
        text-decoration: none;
        color: #000000;
        text-align: center;
        font-size: 400; }
      .content .gallery .products img {
        height: auto;
        width: auto;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        transition: width 50ms height 50ms;
        box-shadow: 1px 1px 1px #777777;
        border-radius: 10px; }
        .content .gallery .products img:hover {
          width: 325px;
          height: 325px; }

.bodyCompras {
  background-image: url(../media/fondoCompra.png);
  background-repeat: no-repeat;
  background-position: center; }
  .bodyCompras .menuCompra h3 {
    text-align: center;
    margin-top: 2rem; }
  .bodyCompras .menuCompra .seccioneOne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    align-items: stretch;
    height: auto;
    width: auto;
    margin: 2rem; }
    .bodyCompras .menuCompra .seccioneOne .comprar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-around;
      align-items: stretch;
      background-color: #e5e5e5;
      padding-top: 0.2rem; }
      .bodyCompras .menuCompra .seccioneOne .comprar .formCompra {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: auto;
        height: auto;
        margin-left: 1rem; }
        .bodyCompras .menuCompra .seccioneOne .comprar .formCompra .form {
          display: flex;
          width: auto;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          align-content: flex-start; }
          .bodyCompras .menuCompra .seccioneOne .comprar .formCompra .form input {
            width: 50px; }
      .bodyCompras .menuCompra .seccioneOne .comprar a {
        margin-top: 10%;
        padding-top: auto;
        padding-bottom: auto;
        text-decoration: none;
        /*
                    .buttonCompra{
                        @include button();
                        margin: auto auto auto auto;
                        height: 80px ;
                        width: 160px; 
                        display: flex;
                        justify-content: space-around;
                        align-content: stretch;
                        align-items: center;
                        &:hover{
                            cursor:pointer;
                            transform: translateY(-3px);
                            transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;

                        }
                    }
                    */ }

.contQS {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .contQS .hrStyle {
    margin: 4rem auto 4rem auto;
    border-top: 1.5px solid black; }
  .contQS .contText {
    text-align: center; }
  .contQS .contInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center; }
    .contQS .contInfo .contForm {
      padding-top: 15px;
      background-color: #fca311;
      border-radius: 8px;
      height: 100%;
      text-align: center;
      box-shadow: 1px 1px 1px #777777; }
      .contQS .contInfo .contForm form {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-around;
        align-items: center;
        height: 250px;
        width: auto;
        margin: 1rem; }
        .contQS .contInfo .contForm form .style {
          width: 100%;
          height: auto;
          border-radius: 4px;
          margin-top: 10px;
          border: none; }
        .contQS .contInfo .contForm form .styleSpecial {
          height: auto;
          width: 200px;
          border-radius: 4px;
          margin-top: 10px; }
    .contQS .contInfo .contMaps {
      text-align: center; }
      .contQS .contInfo .contMaps iframe {
        box-shadow: 1px 1px 1px #777777;
        height: 250px;
        width: 400px;
        border-radius: 8px; }
