//COLORES
.bgColorBlack
{
    background-color: $colorBlack;
}
.colorBlack
{
    color: $colorBlack;
}
.bgColorWhite
{
    background-color: $colorWhite;
}
.colorWhite
{
    color: $colorWhite;
}
.bgColorGray
{
    background-color: $colorGray;
}
.colorGray
{
    color: $colorGray;
}
.bgColorGrayLight
{
    background-color: $colorGrayLight;
}
.colorGrayLigth
{
    color: $colorGrayLight;
}
.bgColorYellow
{
    background-color: $colorYellow;
}
.colorYellow
{
    color: $colorYellow;
}
.bgColorColorViolet
{
    background-color: $colorViolet;
}
.colorViolet
{
    color: $colorViolet;
}

//COLUMNAS
$ancho: 100%;
@for $i from 1 through 13
{
    .miCol-#{$i}
    {
        width: ($ancho/12)*$i;
    }
}

//TIPOGRAFIA
.type-light
{
    @include fuentes (0.5rem, $font-light);
}
.type-regular
{
    @include fuentes(1rem, $font-regular )
}
.type-semi-bold
{
    @include fuentes(1.5rem, $font-semi-bold )
}
.type-bold
{
    @include fuentes(2rem, $font-bold )
}

//BOTONES
.button
{
    margin-top: 2rem;
    @include button();
    a
    {
        text-decoration: none;
    }
}
.buttonForm
{
    @include button();
    background:  linear-gradient(to left,$colorBlack, $colorGray);
    color: $colorWhite;
    a
    {
        text-decoration: none;
    }
}
.buttonNew
{
    @include button();
    margin-top: 1rem;
    a
    {
        text-decoration: none;
    }
}
.buttonFC
{
    margin-top: 1rem;
    @include button();
    a
    {
        text-decoration: none;
    }
}