.bgColorBlack{
    background-color: $colorBlack;
}
.colorBlack{
    color: $colorBlack;
}
.bgColorWhite{
    background-color: $colorWhite;
}
.colorWhite{
    color: $colorWhite;
}
.bgColorGray{
    background-color: $colorGray;
}
.colorGray{
    color: $colorGray;
}
.bgColorGrayLight{
    background-color: $colorGrayLight;
}
.colorGrayLigth{
    color: $colorGrayLight;
}
.bgColorYellow{
    background-color: $colorYellow;
}
.colorYellow{
    color: $colorYellow;
}
.bgColorColorViolet{
    background-color: $colorViolet;
}
.colorViolet{
    color: $colorViolet;
}

$ancho: 100%;
@for $i from 1 through 13{
    .miCol-#{$i}{
        width: ($ancho/12)*$i;
    }
}