.bodyCompras{
    background-image: url(../media/fondoCompra.png);
    background-repeat: no-repeat;
    background-position: center;

    .menuCompra{
        h3{
            text-align: center;
            margin-top: 2rem;
        }
        .seccioneOne{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 1rem;
            align-items: stretch;

            height: auto;
            width: auto;

            /*background-image: url(../media/bannerCompra.png);
            background-repeat: no-repeat;
            background-position: center;*/
            
            margin: 2rem;
            .comprar{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: space-around;
                align-items: stretch;

                background-color: $colorGrayLight;
                padding-top: 0.2rem;
                .formCompra{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: flex-start;
                    width: auto;
                    height: auto;
                    margin-left: 1rem;
                    
                    .form{
                        display: flex;
                        width: auto;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-around;
                        align-content: flex-start;
                        input{
                            width: 50px;
                        }
                    }
                }
                a{
                    margin-top: 10%;
                    padding-top: auto;
                    padding-bottom: auto;
                    .buttonCompra{
                        @include button();
                        margin: auto auto auto auto;
                        height: 80px ;
                        width: 160px; 
                        display: flex;
                        justify-content: space-around;
                        align-content: stretch;
                        align-items: center;
                    }
                }    
            }
            .cardCompra{    
                border-style: solid;
                border-top: 1.5px;
                border-right: 1.5px;
                border-bottom: 1.5px;
                border-left: 1.5px;
            }    
        }
    } 
}       