.bodyCompras
{
    background-image: url(../media/fondoCompra.png);
    background-repeat: no-repeat;
    background-position: center;
    //MOBILE
    @media all and (max-width: 480px)
    {
        background-image: none;
        background-color: $colorWhite;
    }
    //TABLET
    @media all and (max-width: 1024px)
    {
        background-image: none;
        background-color: $colorWhite;
    }

    .menuCompra
    {
        h3
        {
            text-align: center;
            margin-top: 2rem;
        }
        .seccioneOne
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-around;
            align-items: stretch;
            margin: 1rem;
            @media all and (max-width: 480px)
            {
                .comprar
                {
                    margin-top: 1em;
                    margin-bottom: 1rem;
                }
            }
            .comprar
            {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                background-color: $colorGrayLight;

                padding: 1rem;
                margin-left: 1rem;

                width: auto;
                .formCompra
                {
                    display: flex;
                    form
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        align-content: center;
                        input
                        {
                            width: 50px;
                        }
                        a{
                            text-decoration: none;
                            color: $colorBlack;
                        }
                    }
                } 
                .textCompra
                {
                    text-align: center;
                } 
            }
            .cardCompra
            {
                margin-right: 1rem;
            }
            
        }
    } 
}       