.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     
    justify-content: start;
    h2{
        font-size: 40px;
        font-weight: $font-semi-bold;

        text-align: center;

        margin-top: 1rem;
        margin-bottom: 1rem;

        background:  linear-gradient(to top,rgb(19, 156, 76) , $colorYellow,rgb(170, 26, 26));
    }
    .galleryOne{
        margin-top:1rem ;
        margin-bottom:1rem ; 

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .products{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;

            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            img{
                height: auto;
                width: auto;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                margin-left: 0.5rem;
                margin-right: 0.5rem;


                transition: width 50ms height 50ms;
                box-shadow: 1px 1px 1px rgb(119, 119, 119);
                border-radius: 10px;
                &:hover{
                    width: 325px;
                    height: 325px;
                }
            }
        }
    }
}