body{
    background-color: $colorBody;
    font-family: $family;
    span{
        font-weight: $font-bold;
    }
    hr{
        margin: 4rem auto 4rem auto;
        border-top: 1.5px solid black;
    }
}
#header{
    .navbar{
        /*MOBILE FIRST*/
        @media all and (max-width: 768px){
            background-color: $colorBlack;
            .navbar-nav{
                .nav-link{
                    padding-left: 1rem;
                    background-color: $colorGray;
                }
                a{
                    color: $colorWhite; 
                    &:hover{
                        color: $colorYellow;
                    }
                }    
            }
        }
        .navbar-nav{
            .nav-link{
                padding-left: 1rem;
            }
        }    
        a{
            color: $colorWhite; 
            &:hover{
                color: $colorYellow;
            }
        }
        
    }
    
}
.contentBanner{

    background-image: url(../media/Banner4.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;

    height: 500px;
    width: 100%;
    .banner{
        padding-top: 2rem;

        color: $colorWhite;
        font-size: 30px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-end;
        align-items: center;
        
        height: 100%;
        width: 100%;

    }

}
.body{
    height: auto;
    h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-bottom: 3rem;
    }
    .alto{
        height: auto;
        img{
            height: 600px;
        }
    }
    .informacion{
        margin-top: 2rem;
        margin-bottom: 2rem;

        display: flex;    margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        align-content: flex-end;
        justify-content: space-around;
        align-items: center;
        .cardInicioUno{
                p{
                    text-align: start;
                    padding-top: 10%;
                }  
        }
        .cardInicioDos{
            a{
            color: $colorBlack;
            text-decoration: none;
            }
        }
        .card-text{
            height: 100px;  
        }
        .informacionUno{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-end;
            align-items: flex-end;
            .textInfo{
                font-size: 1rem;
            }
        }
    }


}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: auto;

    padding-top: 1rem;
    padding-bottom: 1rem;
    .newsletter{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: space-around;
        align-items: center;
        .newsletterBoton{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            .new{
                width: 100%;
                height: auto;
                border-radius: 4px;
                border: none;
                background-color: #DBDBDB;
            }
            button{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                width: 70%;
            }
        }    
    }    
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        li{
            color: $colorWhite;
            list-style: none; 
            text-decoration: none;
        }
        a{   
            color: $colorWhite;
            text-decoration: none;
            &:hover{
                color: $colorYellow;
                text-decoration: none; 
            }  

        }
    } 
} 
