$colorBlack: #000000;
$colorWhite: #fff;
$colorGray: #333533;
$colorGrayLight: #e5e5e5;
$colorYellow:  #fca311;
$colorViolet: #5a189a;
$colorBody: #d6d6d6;

$family: 'Open Sans', sans-serif;

$font-light:300;
$font-regular:400;
$font-semi-bold:600;
$font-bold:800;

$ancho: 100%;
$alto: 100%;

/* $weigth: ('light': 300, 'regular': 400, 'semi-bold': 600, 'bold': 800);
 $size: ('sm': 10px, 'md': 20px, 'lg': 30px, 'xlg': 45px);
*/


